/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Títulos */
.nav-titulo, .titulos, .sobre-2, .h1-n {
    font-family: 'Oswald', sans-serif;
}

.nav-titulo, .h1-n {
    font-size: 25px;
}

.titulos, .sobre-2 {
    color: rgb(66, 66, 66);
    font-weight: bold;
    font-size: 35px;
}

.h1-n {
    font-size: 30px;
}

/* Contenido */
.contenido-sobre-mi, .lista-2, .footer, .p.footer, .card-text, .course, .institution {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.contenido-sobre-mi {
    font-size: 20px;
}

/* Iconos */
.icons {
    color: #9c00bb;
    transition: transform 0.1s ease-in-out;
}

.icons:hover {
    color: rgb(0, 178, 223);
    transform: scale(1.1);
}

/* Cards */
.card {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
